NaegiofLegends2/_Tabi/Library/
NaegiofLegends2/_Tabi/Temp/
NaegiofLegends2/_Tabi/.vs/
NaegiofLegends2/_Tabi/obj/
NaegiofLegends2/_Tabi/ProjectSettings/
NaegiofLegends2/_Tabi/Logs/
NaegiofLegends2/_Tabi/Packages/

NaegiofLegends1/SuperChatGame/Library/
NaegiofLegends1/SuperChatGame/Temp/
NaegiofLegends1/SuperChatGame/.vs/
NaegiofLegends1/SuperChatGame/obj/
NaegiofLegends1/SuperChatGame2/Library/
NaegiofLegends1/SuperChatGame2/Temp/
NaegiofLegends1/SuperChatGame2/.vs/
NaegiofLegends1/SuperChatGame2/obj/
NaegiofLegends1/SuperChatGame2/ProjectSettings/
NaegiofLegends1/SuperChatGame2/Logs/
NaegiofLegends1/SuperChatGame2/Packages/

